# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/ecommerce?schema=public"

# JWT
JWT_SECRET="jwts-secret-key"
JWT_EXPIRES_IN="7d"

# Notificaciones
WHATSAPP_NUMBER="+59899123456"
EMAIL_FROM="noreply@tienda.com"
EMAIL_PASSWORD=""

# Aplicacion
NODE_ENV="development"
PORT=3000